<div class="container content-container">
  <h1 class="title">Agendamentos</h1>
  <p class="subtitle">Olá <%= @user.first_name %>, confira todos os seus agendamentos e convites.</p>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th scope="col">Encontrar com</th>
        <th scope="col">Item</th>
        <th scope="col">Data</th>
        <th scope="col">Local</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @trades.each do |trade| %>
        <tr>
          <td>
            <% if current_user == trade.buyer %>
              <%= trade.seller ? trade.seller.name : trade.receiver_name %>
            <% else %>
              <%= trade.buyer ? trade.buyer.name : trade.receiver_name %>
            <% end %>
          </td>
          <td><%= link_to trade.seller == current_user ? "Venda de #{trade.item}" : "Compra de #{trade.item}", confirm_screen_trade_path(trade) %></td>
          <td><%= trade.date.strftime("%d/%m/%Y às %H:%M") %></td>
          <td><%= trade.carrefour_unit.name if trade.carrefour_unit%></td>
          <td class="edit-buttons">
            <p>
              <%= link_to '<i class="fas fa-window-close"></i>'.html_safe, trade_path(trade), method: :delete, data: { confirm: "Você tem certeza que deseja cancelar este agendamento ? Essa ação cancelará deifnitivamente o agendamento as duas partes."}, title: "Cancelar" %> 
            </p> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>