<!-- app/views/flats/_info_window.html.erb -->

<div class='title-popup'><%= unit.name %></div>
<div><%= unit.address %></div>
<div><%= unit.city %></div>
<div><%= unit.suburb %></div>
<div><%= unit.cep %></div>