<div class="container content-container">

  <div class="steps">
    <div class="step active-step"><p>1</p></div>
    <div class="step active-step"><p>2</p></div>
    <div class="step active-step"><p>3</p></div>
    <div class="step"><p>4</p></div>
  </div>
  
  <div data-controller="map" data-action="change->map#selectUnit"> 
    <h1 class="title" data-map-target= 'h1'>A unidade mais próxima é...</h1>
    <p class="subtitle" data-map-target= 'text'>
      O <b><%= @carrefour_units.first.name %></b> fica em <b><%= @carrefour_units.first.address %></b>, mas você pode escolher outro local se preferir.
    </p>
    <%= simple_form_for @trade, url: wizard_path do |f| %>
      <div class="form-group select optional trade_carrefour_unit_id question">
        <label class="select optional" for="trade_carrefour_unit_id">UNIDADE DO CARREFOUR</label>
        <select class="form-control select optional" name="trade[carrefour_unit_id]" id="trade_carrefour_unit_id" data-map-target= 'select'>
          <option value="" label="">Selecione uma unidade</option>
          <% @carrefour_units.each do |unit| %>
            <option value= <%= unit.id %> data-address= <%= unit.address.gsub(' ', '&nbsp') %> ><%= unit.name %></option>
          <% end %>
        </select>
        <% if @geoloc_success %>
          <small class="form-text text-muted">As unidades aparecem na ordem de proximidade entre você e o <%=  @trade.author_role == "Vendedor" ? "comprador" : "vendedor" %>.</small>
        <% else %>
          <small class="form-text" style='color: red'>A geolocalização não funcionou com os CEP registrados na etapa anterior, as lojas aparecem por nome (você pode voltar na página anterior para tentar mudar os CEPs).</small>
        <% end %>
      </div>
      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-markers-users="<%= @markers_users.to_json %>"
        data-mapbox-api-key="<%= Rails.application.credentials.mapbox[:api] %>"
        data-map-target= 'mapbox'
      >
      </div>
      <div class="d-flex justify-content-around">
        <%= link_to 'Voltar', trade_step_path(@trade, "location"), class: "btn btn-primary btn-action rounded-button" %>
        <%= f.submit "Avançar", class: "btn btn-primary rounded-button", id: "avançar" %>
      </div>
    <% end %>
  </div>
</div>