<div class="container content-container">
  <h1>Realize o seu agendamento</h1>
  <p class="subtitle">Defina algumas informações e inicie o seu agendamento com a outra parte da negociação.</p>
  
  <%= simple_form_for(@trade, url: wizard_path) do |f| %>
    <%= f.input :author_role, label: "Nesta transação, você é o:", as: :select, collection: Trade::ROLE %>
    <%= f.input :item_category_id, as: :select, label: "A categoria do item é:", collection: ItemCategory.all %>
    <%= f.input :item, label: "O item transacionado é:" %>
    <div class="d-flex justify-content-end">
      <%= f.submit "Avançar", class: "btn btn-primary", id: 'avançar' %>
    </div>
  <% end %>
</div>
