<div class="container content-container">
  <h1>Confirme seus dados</h1>
  <p class="subtitle">Verifique se a unidade do Carrefour, horário e dia estão corretos e envie o seu convite.</p>

<p><strong>Unidade Carrefour:</strong></p>
<p><%= @trade.carrefour_unit.name %></p>

<p><strong>Data e horário:</strong></p>
<p><%= @trade.date %></p>

<p><strong>Envie o convite deste agendamento:</strong></p>
<%= simple_form_for @trade, url: wizard_path do |f| %>
  <%= f.input :receiver_name, label: false, placeholder: "Nome do convidado" %>
  <%= f.input :receiver_email, label: false, placeholder: "nome@email.com" %>
  <div class="d-flex justify-content-between">
    <%= button_to 'Voltar', trade_step_path(@trade, "location"), class: "btn btn-outline-primary" %>
    <%= f.submit "Terminar", class: "btn btn-primary" %>
  </div>
<% end %>

</div>