<div class="container content-container">
  <div class="steps">
    <div class="step active-step"><p>1</p></div>
    <div class="step active-step"><p>2</p></div>
    <div class="step active-step"><p>3</p></div>
    <div class="step active-step"><p>4</p></div>
  </div>

  <h1 class="title">Envie o convite</h1>
  <p class="subtitle">Verifique se a unidade do Carrefour, horário e dia estão corretos e envie o seu convite.</p>

<div class="confirmation-card mb-5">
  <label for="">INFORMAÇÕES DO ENCONTRO</label>
  <p><strong>Unidade: </strong><%=@trade.carrefour_unit.name %></p>
  <p><strong>Endereço: </strong><%= @trade.carrefour_unit.address %></p>
  <p><strong>Data e horário: </strong><%=@trade.date.strftime("%d/%m/%Y às %Hh%M") %></p>
</div>

<p class="subtitle"><strong>Envie o convite deste agendamento:</strong></p>
<%= simple_form_for @trade, url: wizard_path do |f| %>
  <%= f.input :receiver_name, label: "NOME", placeholder: "Nome do convidado", wrapper_html: { class: "question" } %>
  <%= f.input :receiver_phone, label: "Phone", placeholder: "+5521000000000", wrapper_html: { class: "question" } %>
  <div class="d-flex justify-content-between">
  <%= link_to 'Voltar', trade_step_path(@trade, "location"), class: "btn btn-outline-primary btn-action rounded-button-secondary" %>
  <%= f.submit "Concluir", class: "btn btn-primary rounded-button", id: 'terminar' %>
  </div>
<% end %>

</div>