<h1>Confirme os dados e faça o convite</h1>
<p>Confirme a unidade, dia e horário escolhidos para efetivar a negociação.</p>

<h2>Unidade Carrefour:</h2>
<p><%= @trade.carrefour_unit.name %></p>

<h2>Data e horário</h2>
<p><%= @trade.date %></p>

<h2>Envie o convite deste agendamento:</h2>
<%= simple_form_for @trade, url: wizard_path do |f| %>
  <%= f.input :receiver_email, label: "Email convite" %>
  <%= f.submit "Terminar", id: 'terminar'  %>
<% end %>

<%= link_to 'Back', trade_step_path(@trade, "location") %>