<div class="container content-container">
  <h1>Realize o seu agendamento</h1>
  <p class="subtitle">Defina algumas informações e inicie o seu agendamento com a outra parte da negociação.</p>
    
  <%= simple_form_for @trade, url: wizard_path do |f| %>
    <%= f.input :buyer_cep, label: "Digite o seu CEP:", placeholder: "00000-000" %>
    <%= f.input :seller_cep, label: "Digite o CEP do #{ params[:author_role] == "Vendedor" ? "Comprador" : "Vendedor"}:", placeholder: "00000-000" %>
    <%= f.input :date, as: :string, label: "Data e horário:", input_html: {id: "flat_datetime"}  %>
    <div class="d-flex justify-content-between">
    <%= link_to 'Voltar', trade_step_path(@trade, "infos"), class: "btn btn-outline-primary btn-action"  %>
    <%= f.submit "Avançar", class: "btn btn-primary", id: 'avançar' %>
    </div>
  <% end %>
</div>