<div class="container content-container">
    <div class="steps">
    <div class="step active-step"><p>1</p></div>
    <div class="step active-step"><p>2</p></div>
    <div class="step"><p>3</p></div>
    <div class="step"><p>4</p></div>
  </div>

  <h1 class="title">Localização</h1>
  <p class="subtitle">Preenchendo com os dois CEPs, vamos encontrar a unidade mais perto para as duas partes.</p>
    
  <%= simple_form_for @trade, url: wizard_path do |f| %>
    <%= f.input :buyer_cep, label: "SEU CEP", placeholder: "00000-000", wrapper_html: { class: "question" }, id: "cep" %>
    <%= f.input :seller_cep, label: "CEP DO #{ params[:author_role] == "VENDENDOR" ? "COMPRADOR" : "VENDENDOR"}", placeholder: "00000-000", wrapper_html: { class: "question" }  %>
    <div class="calendar">
      <%= f.input :date, as: :string, label: "DATA E HORÁRIO", input_html: {id: "flat_datetime" }, wrapper_html: { class: "question" } %>
    </div>
    <div class="d-flex justify-content-around">
      <%= link_to 'Voltar', trade_step_path(@trade, "infos"), class: "btn btn-primary btn-action rounded-button"  %>
      <%= f.submit "Avançar", class: "btn btn-primary rounded-button", id: 'avançar' %>
    </div>
  <% end %>
  <div class="loading-bckg">
    <div class="box-loading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
      <p>Estamos procurando as lojas Carrefour mais perto de vocês</p>
    </div>
  </div>
</div>
