<section> 
    <figure>
        <%= image_tag "bannercarrefour.png", class: "img_banner", alt: "banner" %>
    </figure>
    <div class="tittleBanner">
        <h1>Através do 2ª Mão Point, você pode agendar a sua troca na loja Carrefour mais próxima, realizando seu negócio de forma segura!
        </h1>
    </div>
</section> 

<section class="containerSegundo"> 
    <div class="texto-container">
        <div>
            <h1>Troca de usados descomplicada</h1>
            <p> Acreditamos que a compra e venda de usados deve ser algo seguro e tranquilo para ambos os usuários, de forma que a troca traga benefícios para todos!  </p>
            <p> Aproveite a intermediação do 2ª Mão Point e faça suas negociações sem dor de cabeça e conte conosco à qualquer momento.</p>
        </div>
        <div class="iconesHome">            
                <%= image_tag "icones-home.png", class: "iconesImg", alt: "icones" %>
        </div>           
    </div>
    <div class= "d-flex flex-column formHome">
        <h2>Faça seu login</h2>
        <%= form_for(:user, :url => session_path(:user), html: { class: "d-flex flex-column align-items-center" }) do |f| %>
            <%= f.text_field :email, class: "formEmail" %>
            <%= f.password_field :password, class: "formSenha" %>
            <%= f.check_box :remember_me, class: "formBox" %>
            <%= f.label :remember_me, class: "formRemember" %>
            <%= f.submit 'Entrar', class: "formSign" %>
            <%= link_to "Criar conta", new_user_session_path, class: "formForgot" %>
            <%= link_to "Esqueceu sua senha?", new_password_path(:user), class: "formNew" %>            
        <% end %>
    </div>
</section>