<section class="banner d-flex"> 
    <div class="tittleBanner container">
        <h1>2ª Mão Point Carrefour</h1>
    </div>
    <div>    
        <figure>
            <%= image_tag "mulher_feliz.png", class: "img_banner", alt: "banner" %>
        </figure>
    </div>   
</section> 

<section class="containerSegundo container"> 
    <div class="col-6">
        <div>
            <h1>Suas transações ainda mais seguras</h1>
            <p> Se você já é cliente do <strong class= "forte"> Banco Carrefour </strong>, sabe que segurança é coisa séria pra gente. O 2ª Mão Point é um espaço criado em nossos estabelecimentos para que você receba suas compras e faça entregas pessoalmente, sem frio na barriga. Os points contam com câmeras e a supervisão dos nosso colaboradores.</p>
        </div>
                 
    </div>
    <div class="maisVantagens col-6">
        <h2 class="economia">+economia</h2>
        <h2>+segurança</h2>
        <h2 class="comodidade">+comodidade</h2>       
    </div>
</section>
<section class="teste">
    <div class="containerTerceiro container d-flex justify-content-between">
        <div class="icone">
            <%= image_tag "icone-cel.png", class: "icone1", alt: "" %>
            <p>Compre ou venda um produto de segunda mão em sites como <strong>OLX, Mercado Livre, Elo7 e Enjoei.</strong></p>
        </div>
        <div class="icone">
            <%= image_tag "icone-calendario.png", class: "icone2", alt: "" %>
            <p><strong>Agende</strong> um encontro com a outra parte da negociação, que receberá o convite automaticamente.</p>
        </div>
        <div class="icone">
            <%= image_tag "icone-moeda.png", class: "icone3", alt: "" %>
            <p>Encontre o local mais <strong>próximo</strong> para as duas partes e realize a transação em um <strong>ambiente seguro.</<strong></p>
        </div>
    </div>
</section>
<section class="containerQuarto container d-flex justify-content-center"> 
    <div>
        <h3>Já realizou sua compra ou venda?</h3> 
        <%= link_to "Novo Agendamento", new_trade_path, :class => "btn btn-primary btnHome" %>
    </div>
</section>