<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user ? @user.first_name : @receiver_name %></h1>
    <p>
      Seu agendamento foi confirmado por <%= @sender_user.first_name %>. Não esqueça de comparecer na data e horário e no local escolhido.
      <br>
      <b>
        <div><%= @trade.carrefour_unit.name %></div>
        <div><%= @trade.date.strftime("%d/%m/%Y") %></div>
        <div><%= @trade.date.strftime("%H:%M") %></div>
      </b>
    </p>
    <p>
    <%= @user ? "Para acessar a sua conta" : "Para criar uma conta e accesar a esse convite" %> , segue o link: <%= link_to('Clique aqui', @url) %>.    </p>
  </body>
</html>