Olá, <%= @user ? @user.first_name : @receiver_name %>
===============================================

O usuário <%= @sender_user.first_name %> precisou reagendar o encontro marcado. Você pode verificar os dados abaixo e confirmar novamente este agendamento. 
<br>
<b>
  <div><%= @trade.carrefour_unit.name %></div>
  <div><%= @trade.date.strftime("%d/%m/%Y") %></div>
  <div><%= @trade.date.strftime("%H:%M") %></div>
</b>

<%= @user ? "Para acessar a sua conta" : "Para criar uma conta" %> , segue o link: <%= link_to('Clique aqui', @url) %>.