<div class="container content-container">
  <%= link_to "<i class='far fa-arrow-alt-circle-left'></i> Voltar para os agendamentos".html_safe, invitations_profile_path(current_user), class: "text-decoration-none" %>
  <%# TODO: Evento já foi realizado: solicitar confirmação de presença %>
  <% if DateTime.now > @trade.date %>
    <h1 class="title" style="margin-top:2rem;">Este encontro já passou</h1>
    <% if @trade.realized.nil? %>
      <p class="subtitle">Confirme se este evento já foi realizado.</p>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <%= form_with(model: @trade, url: realized_trade_trade_path, data: {confirm: 'Não será mais possível modificar essa informação depois'}) do |f| %>
          <%= f.hidden_field :realized, as: :hidden, value: 'realized' %>
          <%= f.submit 'Sim, já realizei este encontro', class: 'btn btn-primary rounded-button stacked-button' %>
        <% end %>
        <%= form_with(model: @trade, url: realized_trade_trade_path, data: {confirm: 'Não será mais possível modificar essa informação depois'}) do |f| %>
          <%= f.hidden_field :realized, as: :hidden, value: 'cancelled' %>
          <%= f.submit 'Este evento foi cancelado', class: 'btn btn-primary rounded-button canceled stacked-button' %>
        <% end %>
      </div>
    <% elsif @trade.realized %>
      <div class="d-flex align-items-center flex-column">
        <div class="big-icon green">
          <i class="far fa-check-circle"></i>
        </div>
        <p>Esse econtro foi realizado com sucesso</p>
      </div>
    <% else %>
      <div class="d-flex align-items-center flex-column">
        <div class="big-icon red">
          <i class="fas fa-ban"></i>
        </div>
        <p>Infelizmente esse econtro foi cancelado</p>
      </div>
    <% end %>
  
  <% else %> <%# Evento ainda não foi realizado %>
    <% if @trade.author == current_user %>
    <h1 class="title" style="margin-top:2rem;">Você tem um agendamento!</h1>
      <p class="subtitle mb-5"><strong>Olá <%= current_user ? current_user.first_name : @trade.receiver_name %></strong>, você tem um agendamento marcado para a transação do <%= @trade.item %> no 2ª Mão Point. Confira a data, horário e local.
    <% else %>
    <h1 class="title" style="margin-top: 2rem;">Você recebeu um convite!</h1>  
      <p class="subtitle mb-5"><strong>Olá <%= current_user ? current_user.first_name : @trade.receiver_name %></strong>, você recebeu um convite para realizar a transação do <%= @trade.item %>. Confira a data, horário e local.
    <% end %>
    
    <div class="confirmation-card mb-5 text-center">
      <p><strong>Unidade Carrefour:</strong> <%= @trade.carrefour_unit.name %></p>
      <p><strong>Endereço:</strong> <%= @trade.carrefour_unit.address %></p>
      <p><strong>Bairro</strong> <%= @trade.carrefour_unit.suburb %> - <%= @trade.carrefour_unit.city %></p>
      <p><strong>CEP:</strong> <%= @trade.carrefour_unit.cep %></p>
      <p><strong>Data e horário:</strong> <%= @trade.date.strftime("%d/%m/%Y, às %H:%M") %></p>
      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-markers-users="<%= @markers_users.to_json %>"
        data-mapbox-api-key="<%= Rails.application.credentials.mapbox[:api] %>"
        data-map-target= 'mapbox'
        class='mb-3'
        data-draw-routes
      >
    </div>


    <% if @trade.confirmed? %>
      <div class="confirmation-card d-flex flex-column align-items-center mb-5">
        <p class="mt-4 subtitle">Para sua segurança, você deve apresentar este QR Code ao chegar no 2ª Mão Point. Você também receberá por Whatsapp no dia do encontro. </p>
          <%= @svg.html_safe %>
      </div>
    <% else %>
      <div class="confirmation-card d-flex flex-column align-items-center mb-5">
        <p style='color: red;'>Você receberá um QR code uma vez que os dois partes terão aceitado o agendamento</p>
      </div>
    <% end %>
    
    <div class="d-flex justify-content-around">      
        <%= link_to "Reagendar", edit_trade_path(@trade), class: "btn btn-primary rounded-button" %>
        <%# TODO: se a outra parte reagendar, ela vira author? Se não, precisamos mostrar novamente o botão de Confirmar caso haja reagendamento do convidado %>
        <% if (current_user == @trade.buyer && @trade.buyer_accepted == false) || (current_user == @trade.seller && @trade.seller_accepted == false) %> 
          <%= link_to "Confirmar presença", confirm_presence_trade_path(@trade), method: :patch, class: "btn btn-primary rounded-button" %>
        <% elsif (current_user == @trade.buyer && @trade.seller_accepted == false) || (current_user == @trade.seller && @trade.buyer_accepted == false) %>
          <div class="btn btn-warning disabled rounded-button-waiting">Aguardando confirmação</div>
        <% elsif @trade.confirmed? %>
          <div class="btn btn-success rounded-button-confirmed">Confirmado</div>
        <% end %>
    </div>

  <% end %>
</div>