<div class="container content-container">
  <h1 class="title">Reagendamento</h1>
  <p class="subtitle">Após a mudança de data ou unidade, enviaremos uma mensagem para a outra parte da negociação para confirmação.</p>
  <div class="question2">
  <p class="suaData">Sua data de agendamento atual é:</p>
  <p class="reagendamento"><%= @trade.date.strftime("%d/%m/%Y às %H:%M")%></p>
  </div>
  <%= simple_form_for @trade, method: :put do |f| %>
    <%= f.input  :date, label: "Nova data",  placeholder: "Selecione aqui", as: :string, input_html: { id: 'flat_datetime' }, wrapper_html: { class: 'question'} %>
    <%= f.input :carrefour_unit_id, label: "Unidade do Carrefour:", as: :select, collection: CarrefourUnit.all, wrapper_html: { class: 'question' } %>
    <div class="d-flex justify-content-around">
      <%= button_to "Voltar", invitations_profile_path(current_user), class: "btn btn-outline-primary rounded-button-secondary" %>
      <%= f.submit "Alterar", class: "btn btn-primary rounded-button", data: { confirm: "Você tem certeza que deseja modificar este agendamento? Uma mensagem será enviada para o otro usúario pedindo para confirmar as novas informações." } %>
    </div>
  <% end %>
</div>